/* orangebox.css */
.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 999;
}

.orangeBox * {
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.orangeBox {
    background: #ffcd50;
    color: #333;
    font: 13px/16px sans-serif; 
    padding: 40px 24px 24px;
    left: 50%;
    top: 50%;
    position: fixed;
    width: 300px;
    margin-left: -150px;
    -ms-transform: translateY(-400px); 
    -webkit-transform: translateY(-400px); 
    transform: translateY(-400px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    z-index: 1000;
}

.orangeBox-show {
    -ms-transform: translateY(0); 
    -webkit-transform: translateY(0); 
    transform: translateY(0);
}

.orangeCloseButton {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: transparent url('cross.png') no-repeat 0 0;
    background-size: 16px 16px;
}

.orangeBoxTitle {
	font-size: 150%;
	margin-bottom: 12px;
}

.orangeBox p {
    margin: 0;
}

.orangeBoxWindow ul {
    margin: 12px 0 0 -12px;
    padding: 0;
    overflow: hidden;
}

.orangeBoxWindow ul li {
    float: left;
    font-weight: 700;
    list-style-type: none;
    padding-left: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.orangeBoxWindow ul li span {
    border: 2px solid #333;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 10px 5px;
}