/* orangebox.css */

.show {
  display: block;
}

.orangeBox {
  background: #ffcd50;
  padding: 24px 24px 24px 24px;
  z-index: 100;
  left: 50%;
  top: 50%;
  position: fixed;
  width: 300px;
  margin-left: -150px;
  -ms-transform: translateY(-400px); 
    -webkit-transform: translateY(-400px); 
    transform: translateY(-400px);
    -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  z-index: 2000;
}

.orangeBox-show {
  
  -ms-transform: translateY(0); 
    -webkit-transform: translateY(0); 
    transform: translateY(0);
}

.orangeCloseButton {
  color: #000;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-image: url('cross.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.orangeBoxFont {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font: sans-serif Verdana;
}

.orangeBoxFont p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}

.orangeBoxWindow ul {
  margin-top: 24px;
}

.orangeBoxWindow ul li {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: none !important;
}

.orangeBoxWindow ul li span {
  border: 2px solid #333;
  padding: 8px 20px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

.overlay {
  width: 10000px !important;
  height: 10000px !important;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}